body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    color: rgb(170, 107, 107);
}
.first{
    display: flex;
    margin-top: 100px;
    margin-left: 80px;
}
.network{
    width: 50%;
    margin-top: 30px;
}
.network image{
     width: 100%;
     
} 
.network h1{
    font-size: 35px;
}
#pad{
    margin-top: 100px;
}
    
.mycolor{
    color: red;
}
.network p{
    color: rgb(201, 71, 46);
    text-align: justify;
    margin-bottom: 50px;
    padding-right: 40px;
    font-size: 20px;
}
.order{

    text-decoration: none;
    color: white ;
    text-shadow: whitesmoke 10px;
    background-image: linear-gradient(darkred,red);
    padding: 10px 20px;
    font-weight: 300 ;
    border-radius: 10px;
    
}
.back{
    background-image: url(imagess/Frame\ 58.jpg);
    background-repeat:no-repeat ;
    background-size: 1350px 600px;
}
.food{
    text-align: center;

}
.image{
    height: 200px;
    width: 300px;
    border-radius: 20px;
}
.box{
    display: inline-flex;
    margin-left: 120px;
    margin-top: 20px;
    
}
.fit{
    margin: 10px 40px 10px 0;
    box-shadow: 5px 5px 150px rgb(223, 207, 207);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.test{
    text-align: center;
    padding-left: 30px;
    margin-left: 30px;
}
.fan{
    display: flex;
    margin-left: 110px;
    margin-right: 120px;
    margin-top: 70px;
    margin-bottom: 70px;
    box-shadow: 2px 2px 100px rgb(223, 207, 207) ;
    border-radius: 20px;
    padding: 20px;
    
}
.follow{
    margin: 20px 100px ;
    text-align: center;
}
.follow h2{
    font-size: 35px;
}
footer{
    background-color: rgb(61, 38, 38);
    text-align: center;
    padding: 50px 20px;
    
}