body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    color: rgb(170, 107, 107);
}
.first{
    display: flex;
    margin-top: 100px;
    margin-left: 80px;
}
.network{
    width: 50%;
    font-size: 25px;
    margin-top: 30px;
}
.network image{
     width: 100%;
     
}   
#pad{
    margin-top: 100px;
}
    
.mycolor{
    color: red;
}
.network p{
    color: rgb(201, 71, 46);
    text-align: justify;
    margin-bottom: 50px;
    padding-right: 40px;
    font-size: 20px;
}
.order{

    text-decoration: none;
    color: white ;
    text-shadow: whitesmoke 10px;
    background-image: linear-gradient(darkred,red);
    padding: 10px 20px;
    font-weight: 300 ;
    border-radius: 10px;
}
.back{
    background-image: url(imagess/Frame\ 58.jpg);
    
    background-repeat:no-repeat ;
    background-size: 1350px 600px;
}